* {
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

#image1 {
    height: 93px;
    width: 119px;
    margin: -4px 0px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    padding: 23px 32px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* #home{
    display: flex;
    flex-direction: column;
    padding: 16px 678px;
    align-items: center;
    justify-content: center;
} */

/* body::before{
    content: "";
    position: absolute;
    background: url(../hbd1.jpg) no-repeat center center/cover; 
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
} */

.container{
    max-width: 2444px;
    width: 90%;
    margin: auto;
    padding: 40px 0px;
}

.title{
    margin-bottom: 2rem;
}

.photo-gallery{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 15px;
}

.coloumn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

#happy{
    height: 800px;
    width: 1000px;
}

.photo{
    border: 2px solid red;
    border-radius: 10px;
}